@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit',serif;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .quiz-container {
    display: flex;
    flex-direction: column;
    background: #020202;
    padding: 25px;
    border-radius: 25px;
    width: 30vw;
    max-height: 80vh;
    text-align: center;
    color: #f4f4f4;
  }

  h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  #progress{
    display: flex;
    justify-items: flex-start;
    font-size: 15px;
    margin-bottom: 10px;
  }

  #question{
    font-weight: 600;
    font-size: 24px;
  }
  .btn-grid {
    display: grid;
    gap: 18px;
    margin: 20px 0;
  }
  
  .btn {
    background: #00CAF2;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #3248DA;
    color: #47CC49;
  }

  .btn.selected {
    background-color: #47CC49;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #submit-btn {
    width: 100%;
    background-color: #FF7040;
    color: #f4f4f4;
  }

  #restart-btn{
    margin-top: 20px;
    width: 30vw;
    border-radius: 50px;
  }